$maxWidth: 1400px;

$minWidth: 320px;
$maxWidth: 1400;
$maxWidthContainer: 1288;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

ul {
  list-style-type: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  font-size: 14px;
}

a.text {
  text-decoration: none;
}

input {
  outline: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding: 0 20px;
}

._title-banners {
  color: #323142;
  font-size: 45px;
  line-height: 55px;
  font-weight: 600;
  font-family: Poppins, sans-serif;
  text-align: center;
  margin: 0 0 60px 0;

  span {
    font-size: 45px;
    line-height: 26px;
    font-weight: 600;
    font-family: Poppins, sans-serif;
    color: #6C5FBC;
  }

  @media (max-width: $md4+px) {
    font-size: 30px;
    line-height: 36px;
    margin: 0 0 30px 0;

    span {
      font-size: 30px;
      line-height: 36px;
    }
  }
}

._title-left-banners {
  color: #323142;
  font-family: Poppins, sans-serif;
  font-size: 35px;
  font-weight: 600;
  line-height: 26px;

  span {
    font-family: Poppins, sans-serif;
    font-size: 35px;
    font-weight: 600;
    line-height: 26px;
    color: #6C5FBC;
  }

  @media (max-width: $md2+px) {
    text-align: center;
    margin: 0 0 60px 0;
  }

  @media (max-width: $md4+px) {
    font-size: 30px;
    line-height: 36px;

    span {
      font-size: 30px;
      line-height: 36px;
    }
  }
}

._title-main {
  color: #000000;
  max-width: 500px;
  text-align: left;
  font-size: 51px;
  line-height: 58px;
  font-weight: 700;
  font-family: Poppins, sans-serif;
  margin: 0 0 50px 0;

  span {
    color: #6C5FBC;
    white-space: nowrap;
    font-size: 51px;
    line-height: 58px;
    font-weight: 700;
    font-family: Poppins, sans-serif;
  }

  @media (max-width: 1100px) {
    font-size: 36px;
    line-height: 42px;

    span {
      font-size: 36px;
      line-height: 42px;
    }
  }

  @media (max-width: $md2+px) {
    text-align: center;
  }

  @media (max-width: $md3+px) {
    font-size: 30px;
    line-height: 34px;
    margin: 0 0 30px 0;

    span {
      font-size: 30px;
      line-height: 34px;
    }
  }
}

.btn-white {
  font-family: Poppins, sans-serif;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  white-space: nowrap;
  transition: all 0.3s ease 0s;
  border-radius: 15px;

  @media (min-width: $md2+px) {
    &:hover {
      box-shadow: 0 4px 20px 0 #00000040;
    }
  }
}

.btn-blue {
  background-color: #6C5FBC;
  font-family: Poppins, sans-serif;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  white-space: nowrap;
  transition: all 0.3s ease 0s;
  border-radius: 15px;
  color: #FFFFFF;

  @media (min-width: $md2+px) {
    &:hover {
      background-color: #4839b9;
    }
  }
}

.btn-submit {
  cursor: pointer;
  background-color: #6C5FBC;
  color: #FFF3EB;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  border-radius: 15px;

  @media (min-width: $md2+px) {
    &:hover {
      background-color: #4839b9;
    }
  }
}