$maxWidth: 1400px;

$minWidth: 320px;
$maxWidth: 1400;
$maxWidthContainer: 1288;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

ul {
  list-style-type: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  font-size: 14px;
}

a.text {
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding: 0 20px;

  @media (max-width: $md4+px) {
    padding: 0 10px;
  }
}

.btn {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}