ul {
  list-style-type: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  font-size: 14px;
}

a.text {
  text-decoration: none;
}

input {
  outline: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 20px;
}

._title-banners {
  color: #323142;
  font-size: 45px;
  line-height: 55px;
  font-weight: 600;
  font-family: Poppins, sans-serif;
  text-align: center;
  margin: 0 0 60px 0;
}
._title-banners span {
  font-size: 45px;
  line-height: 26px;
  font-weight: 600;
  font-family: Poppins, sans-serif;
  color: #6C5FBC;
}
@media (max-width: 479.98px) {
  ._title-banners {
    font-size: 30px;
    line-height: 36px;
    margin: 0 0 30px 0;
  }
  ._title-banners span {
    font-size: 30px;
    line-height: 36px;
  }
}

._title-left-banners {
  color: #323142;
  font-family: Poppins, sans-serif;
  font-size: 35px;
  font-weight: 600;
  line-height: 26px;
}
._title-left-banners span {
  font-family: Poppins, sans-serif;
  font-size: 35px;
  font-weight: 600;
  line-height: 26px;
  color: #6C5FBC;
}
@media (max-width: 991.98px) {
  ._title-left-banners {
    text-align: center;
    margin: 0 0 60px 0;
  }
}
@media (max-width: 479.98px) {
  ._title-left-banners {
    font-size: 30px;
    line-height: 36px;
  }
  ._title-left-banners span {
    font-size: 30px;
    line-height: 36px;
  }
}

._title-main {
  color: #000000;
  max-width: 500px;
  text-align: left;
  font-size: 51px;
  line-height: 58px;
  font-weight: 700;
  font-family: Poppins, sans-serif;
  margin: 0 0 50px 0;
}
._title-main span {
  color: #6C5FBC;
  white-space: nowrap;
  font-size: 51px;
  line-height: 58px;
  font-weight: 700;
  font-family: Poppins, sans-serif;
}
@media (max-width: 1100px) {
  ._title-main {
    font-size: 36px;
    line-height: 42px;
  }
  ._title-main span {
    font-size: 36px;
    line-height: 42px;
  }
}
@media (max-width: 991.98px) {
  ._title-main {
    text-align: center;
  }
}
@media (max-width: 767.98px) {
  ._title-main {
    font-size: 30px;
    line-height: 34px;
    margin: 0 0 30px 0;
  }
  ._title-main span {
    font-size: 30px;
    line-height: 34px;
  }
}

.btn-white {
  font-family: Poppins, sans-serif;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  white-space: nowrap;
  transition: all 0.3s ease 0s;
  border-radius: 15px;
}
@media (min-width: 991.98px) {
  .btn-white:hover {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2509803922);
  }
}

.btn-blue {
  background-color: #6C5FBC;
  font-family: Poppins, sans-serif;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  white-space: nowrap;
  transition: all 0.3s ease 0s;
  border-radius: 15px;
  color: #FFFFFF;
}
@media (min-width: 991.98px) {
  .btn-blue:hover {
    background-color: #4839b9;
  }
}

.btn-submit {
  cursor: pointer;
  background-color: #6C5FBC;
  color: #FFF3EB;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  border-radius: 15px;
}
@media (min-width: 991.98px) {
  .btn-submit:hover {
    background-color: #4839b9;
  }
}

.footer {
  background-color: #EAEAEA;
}
.footer_content {
  display: flex;
  flex-direction: column;
  padding: 80px 0;
}
@media (max-width: 991.98px) {
  .footer_content {
    padding: 50px 0 40px 0;
  }
}
.footer_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(32, 31, 31, 0.2);
  padding: 0 0 25px 0;
}
@media (max-width: 991.98px) {
  .footer_menu {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 30px 0;
  }
}
.footer_label {
  display: flex;
  align-items: center;
}
@media (max-width: 991.98px) {
  .footer_label {
    margin: 0 0 50px 0;
    justify-content: space-between;
    width: 100%;
  }
}
@media (max-width: 479.98px) {
  .footer_logo {
    flex: 0 1 100px;
  }
  .footer_logo img {
    max-width: 100%;
  }
}
.footer_items {
  display: flex;
  justify-content: flex-end;
}
.footer_items li {
  margin: 0 70px 0 0;
}
.footer_items li a {
  color: #999999;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
@media (min-width: 991.98px) {
  .footer_items li a:hover {
    color: #6C5FBC;
  }
}
@media (max-width: 991.98px) {
  .footer_items li a {
    color: #606060;
  }
}
@media (max-width: 479.98px) {
  .footer_items li a {
    font-size: 14px;
    line-height: 19px;
  }
}
.footer_items li:last-child {
  margin: 0 0 0 0;
}
@media (max-width: 991.98px) {
  .footer_items li {
    margin: 0 0 30px 0;
  }
}
@media (max-width: 991.98px) {
  .footer_items {
    flex-direction: column;
  }
}
.footer_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 0 0 0;
}
@media (max-width: 991.98px) {
  .footer_info {
    justify-content: center;
    padding: 30px 0 0 0;
  }
}
.footer_date {
  color: #999999;
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
}
@media (max-width: 479.98px) {
  .footer_date {
    font-size: 14px;
    line-height: 20px;
    color: #70798B;
  }
}
.footer_socials._socials-up {
  display: none;
}
@media (max-width: 991.98px) {
  .footer_socials._socials-up {
    display: inline-block;
  }
  .footer_socials._socials-up img {
    max-width: 100%;
  }
}
@media (max-width: 479.98px) {
  .footer_socials._socials-up {
    flex: 0 1 115px;
  }
}
@media (max-width: 991.98px) {
  .footer_socials._socials-down {
    display: none;
  }
}

/*# sourceMappingURL=footer.css.map */
