ul {
  list-style-type: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  font-size: 14px;
}

a.text {
  text-decoration: none;
}

input {
  outline: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 20px;
}

._title-banners {
  color: #323142;
  font-size: 45px;
  line-height: 55px;
  font-weight: 600;
  font-family: Poppins, sans-serif;
  text-align: center;
  margin: 0 0 60px 0;
}
._title-banners span {
  font-size: 45px;
  line-height: 26px;
  font-weight: 600;
  font-family: Poppins, sans-serif;
  color: #6C5FBC;
}
@media (max-width: 479.98px) {
  ._title-banners {
    font-size: 30px;
    line-height: 36px;
    margin: 0 0 30px 0;
  }
  ._title-banners span {
    font-size: 30px;
    line-height: 36px;
  }
}

._title-left-banners {
  color: #323142;
  font-family: Poppins, sans-serif;
  font-size: 35px;
  font-weight: 600;
  line-height: 26px;
}
._title-left-banners span {
  font-family: Poppins, sans-serif;
  font-size: 35px;
  font-weight: 600;
  line-height: 26px;
  color: #6C5FBC;
}
@media (max-width: 479.98px) {
  ._title-left-banners {
    font-size: 30px;
    line-height: 36px;
  }
  ._title-left-banners span {
    font-size: 30px;
    line-height: 36px;
  }
}

._title-main {
  color: #000000;
  max-width: 500px;
  text-align: left;
  font-size: 51px;
  line-height: 58px;
  font-weight: 700;
  font-family: Poppins, sans-serif;
  margin: 0 0 50px 0;
}
._title-main span {
  color: #6C5FBC;
  white-space: nowrap;
  font-size: 51px;
  line-height: 58px;
  font-weight: 700;
  font-family: Poppins, sans-serif;
}
@media (max-width: 1100px) {
  ._title-main {
    font-size: 36px;
    line-height: 42px;
  }
  ._title-main span {
    font-size: 36px;
    line-height: 42px;
  }
}
@media (max-width: 991.98px) {
  ._title-main {
    text-align: center;
  }
}
@media (max-width: 767.98px) {
  ._title-main {
    font-size: 30px;
    line-height: 34px;
    margin: 0 0 30px 0;
  }
  ._title-main span {
    font-size: 30px;
    line-height: 34px;
  }
}

.btn-white {
  font-family: Poppins, sans-serif;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  white-space: nowrap;
  transition: all 0.3s ease 0s;
  border-radius: 15px;
}
@media (min-width: 991.98px) {
  .btn-white:hover {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2509803922);
  }
}

.btn-blue {
  background-color: #6C5FBC;
  font-family: Poppins, sans-serif;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  white-space: nowrap;
  transition: all 0.3s ease 0s;
  border-radius: 15px;
  color: #FFFFFF;
}
@media (min-width: 991.98px) {
  .btn-blue:hover {
    background-color: #4839b9;
  }
}

.btn-submit {
  cursor: pointer;
  background-color: #6C5FBC;
  color: #FFF3EB;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  border-radius: 15px;
}
@media (min-width: 991.98px) {
  .btn-submit:hover {
    background-color: #4839b9;
  }
}

.header_body {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px solid #CBCBCB;
}
.header_menu {
  display: flex;
  align-items: center;
  flex: 0 1 50%;
}
.header_menu img {
  align-self: flex-start;
  margin: auto 50px auto 0;
}
.header_links {
  display: flex;
}
@media (max-width: 767.98px) {
  .header_links {
    display: none;
  }
}
.header_link {
  margin: 0 30px 0 0;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.header_link:last-child {
  margin: 0 0 0 0;
}
.header_link a {
  font-weight: 500;
  font-size: 17px;
  line-height: 27px;
}
@media (min-width: 991.98px) {
  .header_link a:hover {
    color: #6C5FBC;
  }
}
.header_auth {
  display: flex;
  justify-content: flex-end;
  flex: 0 1 50%;
  align-items: center;
}
@media (max-width: 767.98px) {
  .header_auth {
    display: none;
  }
}
.header_auth_burger-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.header_login {
  margin: 0 20px 0 0;
  font-size: 17px;
  line-height: 27px;
  font-weight: 700;
  cursor: pointer;
  color: #606060;
}
.header_login_burger-menu {
  width: 100%;
  text-align: center;
  padding: 0 30px 0 30px;
  margin: 0 0 10px 0;
}
.header_sing {
  color: #F9F9F9;
  font-size: 17px;
  line-height: 27px;
  font-weight: 700;
  background-color: #6C5FBC;
  border-radius: 18px;
  padding: 15px 30px;
  cursor: pointer;
}
.header_sing_burger-menu {
  color: #F9F9F9;
  padding: 10px 20px;
  width: 100%;
  border-radius: 0 0 10px 10px;
  text-align: center;
}
.header_burger-menu {
  position: relative;
  display: flex;
  align-items: center;
}
.header_menu-container {
  display: none;
  position: absolute;
  top: 0;
  right: 100%;
  animation: fadeIn 0.4s ease-in-out;
}
.header_menu-container._active {
  display: block;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.header_menu-links {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2509803922);
  border-radius: 10px;
}
.header_menu-link {
  text-align: center;
  padding: 0 35px 0 35px;
  font-weight: 500;
  font-size: 17px;
  line-height: 37px;
  color: #606060;
}

.icon-menu {
  display: none;
}
@media (max-width: 767.98px) {
  .icon-menu {
    display: block;
    position: relative;
    width: 31px;
    height: 22px;
    cursor: pointer;
    z-index: 16;
  }
  .icon-menu span {
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #282828;
  }
  .icon-menu span:first-child {
    top: 0;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 0;
  }
  .icon-menu._active span {
    transform: scale(0);
    background-color: #282828;
  }
  .icon-menu._active span:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .icon-menu._active span:last-child {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

/*# sourceMappingURL=header.css.map */
