@import "var";

.filter-page {

  &_content {
    display: flex;

    @media (max-width: $md2+px) {
      flex-wrap: wrap;
    }
  }

  &_sale-container {
    overflow: hidden;

    @media (max-width: $md2+px) {
      margin: 0 0 50px 0;
      overflow: visible;
      padding: 0 30px;
    }
  }

  &_block {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 auto;

    &:before {
      content: "";
      position: absolute;
      z-index: 100;
      top: -7%;
      right: -6%;
      width: 52px;
      height: 42px;
      background: url("../images/menu/weekend/illustration.png") 0 0 no-repeat;
    }

    @media (max-width: $md2+px) {

      &::before {
        top: -4%;
        right: -1%;
      }
    }

    @media (max-width: $md4+px) {

      &::before {
        top: -5%;
        right: -3%;
      }
    }
  }

  &_pagination {
    display: flex;
    position: relative;
    height: 8px;
  }

  &_dots {
    position: absolute;
    display: flex;
    justify-content: center;
  }

  .swiper-pagination-bullet {
    background-color: #6C5FBC;
    width: 40px;
    height: 8px;
    border-radius: 50px;
  }

  &_column {
    display: flex;
    flex: 0 1 814px;
    min-width: 0;

    &:first-child {
      flex-direction: column;
    }

    &:last-child {
      flex: 0 1 498px;
      justify-content: flex-end;
      padding: 0 0 0 20px;
    }

    @media (max-width: $md2+px) {
      flex: 0 1 100%;
      margin: 0 0 40px 0;

      &:last-child {
        flex: 0 1 100%;
        justify-content: center;
        padding: 0 0 0 0;
      }
    }
  }

  &_search {
    display: flex;
    flex-direction: column;
  }

  &_row {
    flex: 0 1 75px;

    &:not(:last-child) {
      margin: 0 0 30px 0;
    }
  }

  &_input {
    position: relative;

    &::before {
      content: "";
      cursor: pointer;
      position: absolute;
      width: 30px;
      height: 27px;
      top: -30%;
      left: 4%;
      background: url("../images/menu/weekend/magnifying.png") left no-repeat;
    }

    input {
      width: 97.5%;
      background-color: #EDEDED;
      padding: 25px 90px;
      border-radius: 20px;

      &, &::placeholder {
        font-family: Poppins, sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        color: #AAABBA;
      }

      @media (max-width: $md2+px) {
        width: 100%;
      }

      @media (max-width: $md4+px) {
        padding: 15px 50px;
      }
    }
  }

  &_tabs {
    display: flex;
    width: 97.5%;

    @media (max-width: $md2+px) {
      width: 100%;
    }
  }

  &_tab {
    border: 2px solid #6C5FBC;
    flex: 0 1 50%;
    padding: 20px 0;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease 0s;

    &:first-child {
      border-radius: 15px 0 0 15px;
    }

    &:last-child {
      border-radius: 0 15px 15px 0;
    }

    span {
      font-family: Poppins, sans-serif;
      font-size: 19px;
      font-weight: 500;
      line-height: 29px;
      color: #6C5FBC;

      @media (max-width: $md4+px) {
        font-size: 12px;
        line-height: 18px;
      }
    }

    &._active {
      background-color: #6C5FBC;

      span {
        color: #F3F5F6;
      }
    }

    @media (max-width: $md4+px) {
      padding: 10px 0;
    }
  }

  &_form {

  }
}

.form-filter {
  box-shadow: 0 4px 20px 0 #00000040;
  flex: 0 1 377px;
  border-radius: 24px;
  padding: 40px 35px;
  align-self: flex-end;

  @media (max-width: $md1+px) and (min-width: $md2+px) {
    padding: 40px 15px;
  }

  @media (max-width: $md2+px) {
    flex: 1 1 auto;
    align-self: center;
  }

  &_category {
    margin: 0 0 30px 0;
  }

  &_title {
    font-family: Poppins, sans-serif;
    color: #323142;
    font-size: 21px;
    font-weight: 600;
    line-height: 29px;
    margin: 0 0 20px 0;

    @media (max-width: $md4+px) {
      font-size: 18px;
      line-height: 24px;
    }
  }

  &_items {
    display: flex;
    justify-content: space-between;

    @media (max-width: $md1+px) {
      gap: 20px;
    }

    @media (max-width: $md4+px) {
      flex-wrap: wrap;
    }
  }

  &_item {
    display: flex;
    flex-direction: column;
    flex: 0 1 66px;
    border-radius: 24px;
    box-shadow: 0 4px 10px 0 #00000040;
    padding: 20px 0;
    text-align: center;
    justify-content: space-between;
    cursor: pointer;
    max-height: 111px;
    transition: 0.1s ease 0s;

    @media (max-width: $md1+px) {
      flex: 1 1 66px;
    }

    @media (max-width: $md4+px) {
      flex: 1 1 30%;
    }

    @media (max-width: 420px) {
      flex: 1 1 50%;
    }

    &._yellow-background {
      background-color: rgba(255, 222, 138, 0.4);
    }

    &._red-background {
      background-color: rgba(247, 197, 186, 0.4);
    }

    &._brown-background {
      background-color: rgba(237, 182, 107, 0.4);
    }

    &._blue-background {
      background-color: rgba(90, 133, 255, 0.4);
    }
  }

  &_image {
    img {
      max-width: 100%;
    }
  }

  &_name {
    font-family: Poppins, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;

    &._yellow-color {
      color: #D69900;
    }

    &._red-color {
      color: #FB471D;
    }

    &._brown-color {
      color: #E28B14;
    }

    &._blue-color {
      color: #002073;
    }
  }

  &_sort {
    margin: 0 0 30px 0;
  }

  &_types {
    display: flex;
    justify-content: space-between;
  }

  &_type {
    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 29px;
    color: #ACADB9;

    @media (max-width: $md4+px) {
      font-size: 13px;
      line-height: 24px;
    }
  }

  &_mode {
    display: none;
    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 29px;
    color: #6C5FBC;

    &._active {
      display: block;
    }

    @media (max-width: $md4+px) {
      font-size: 13px;
      line-height: 24px;
    }
  }

  &_slider {
    background-color: #eaeaea;
    height: 5px;
    margin: 0 0 15px 0;
  }

  .noUi-base,
  .noUi-connects {
    position: relative;
    height: 4px;
  }

  .noUi-origin,
  .noUi-connect {
    will-change: transform;
    position: absolute;
    width: 100%;
    height: 10%;
    z-index: 1;
    top: 0;
    right: 0;
    transform-origin: 0 0;
    transform-style: flat;
  }

  .noUi-connect {
    background-color: #6C5FBC;
    width: 100%;
    height: 100%;
    top: 0;
  }

  .noUi-handle {
    position: absolute;
    top: -10px;
    right: -12px;
    width: 23px;
    height: 23px;
    border: 2px solid #6C5FBC;
    background-color: #F0F0FF;
    border-radius: 50%;
    cursor: pointer;
  }

  &_price {
    margin: 0 0 30px 0;
  }

  &_price-list {
    display: flex;
    justify-content: space-between;

    li {
      color: #C2C3CB;
      font-family: Poppins, sans-serif;
      font-size: 11px;
      font-weight: 500;
      line-height: 29px;
    }
  }

  &_btn {
    width: 100%;
    padding: 18px 0;
  }
}

.questions-page {

  &_header {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_title {
    flex: 0 1 408px;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      z-index: 100;
      top: -30%;
      right: -11%;
      width: 52px;
      height: 42px;
      background: url("../images/menu/weekend/illustration.png") 0 0 no-repeat;
    }

    @media (max-width: $md4+px) {
      &._title-size {
        flex: 0 1 280px;
        font-size: 24px;
        line-height: 28px;

        &::before {
          right: -1%;
          top: -63%;
          width: 45px;
        }

        span {
          font-size: 24px;
          line-height: 28px;
        }
      }
    }
  }

  &_body {

  }

  &_items {
    display: flex;
    flex-direction: column;
  }

  &_item {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(32, 31, 31, 0.2);
  }

  &_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 20px 0;
    cursor: pointer;
  }

  &_question {
    color: #323142;
    font-family: Poppins, sans-serif;
    font-size: 23px;
    font-weight: 600;
    line-height: 60px;

    @media (max-width: $md3+px) {
      font-size: 17px;
      line-height: 42px;
    }

    @media (max-width: $md4+px) {
      font-size: 12px;
      line-height: 31px;
    }
  }

  &_btn {
    background-color: #6C5FBC;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: relative;

    &::before {
      position: absolute;
      content: "+";
      color: #FFFFFF;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 24px;
    }

    @media (max-width: $md4+px) {
      width: 20px;
      height: 20px;

      &::before {
        font-size: 20px;
      }
    }
  }

  &_response {
    display: none;
    color: #979797;
    padding: 0 0 20px 0;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;

    @media (max-width: $md4+px) {
      font-size: 11px;
      font-weight: 400;
      line-height: 18px;
    }
  }
}
