@import "var";

html, body {
  font-family: Inter, sans-serif;
  color: #606060;
}

.header {
  margin: 0 0 50px 0;
}

.page {
  &_grade {
    margin: 0 0 100px 0;

    @media (max-width: $md2+px) {
      margin: 0 0 50px 0;
    }
  }

  &_numbers {
    margin: 0 0 100px 0;

    @media (max-width: $md2+px) {
      margin: 0 0 50px 0;
    }
  }

  &_mobile {
    margin: 0 0 100px 0;

    @media (max-width: $md2+px) {
      margin: 0 0 50px 0;
    }
  }

  &_restaurants {
    margin: 0 0 100px 0;

    @media (max-width: $md2+px) {
      margin: 0 0 50px 0;
    }
  }

  &_dishes {
    margin: 0 0 100px 0;

    @media (max-width: $md2+px) {
      margin: 0 0 50px 0;
    }
  }

  &_control {
    margin: 0 0 100px 0;

    @media (max-width: $md2+px) {
      margin: 0 0 50px 0;
    }
  }
}

.grade-page {

  &_container {
    display: flex;

    @media (max-width: 1120px) {
      flex-direction: column;
    }
  }

  &_column {
    flex: 0 1 50%;

    &:last-child {
      display: flex;
      justify-content: center;
    }
  }

  &_info {
    display: flex;
    flex-direction: column;

    @media (max-width: 1120px) {
      align-items: center;
    }
  }

  &_header {
    display: flex;
    margin: 0 0 10px 0;

    @media (max-width: 1120px) {
      margin: 0 0 20px 0;
    }

    hr {
      align-self: center;
      width: 55px;
      height: 2px;
      border-bottom: 1px solid rgba(32, 31, 31, 0.2);
      margin: 0 20px 0 0;

      @media (max-width: $md3+px) {
        border-bottom: 1px solid rgba(32, 31, 31);
        margin: 0 10px 0 0;
        width: 30px;
      }
    }

    span {
      font-size: 15px;
      font-weight: 600;
      font-family: Poppins, sans-serif;
      line-height: 18px;
      color: rgba(32, 31, 31, 0.2);
      letter-spacing: 2px;

      @media (max-width: $md3+px) {
        font-size: 10px;
        color: #201F1F;
        font-weight: 600;
        line-height: 11px;
      }
    }
  }

  &_title {
    font-family: Poppins, sans-serif;
    font-size: 75px;
    font-weight: 600;
    line-height: 90px;
    letter-spacing: -3px;
    color: #201F1F;
    margin: 0 0 10px 0;

    span {
      color: #5C4EAE;
      font-family: Poppins, sans-serif;
      font-size: 75px;
      font-weight: 600;
      line-height: 90px;
      letter-spacing: -3px;
    }

    @media (max-width: 1120px) {
      text-align: center;
      margin: 0 0 20px 0;
    }

    @media (max-width: $md3+px) {
      font-size: 46px;
      line-height: 55px;

      span {
        font-size: 46px;
        line-height: 55px;
      }
    }
  }

  &_content {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #676767;
    margin: 0 0 40px 0;
    max-width: 499px;

    @media (max-width: 1120px) {
      text-align: center;
      margin: 0 0 40px 0;
    }

    @media (max-width: $md3+px) {
      font-size: 11px;
      line-height: 17px;
      font-weight: 500;
    }

    span {
      font-size: 18px;
      font-weight: 500;
      line-height: 28px;
      color: #5C4EAE;

      @media (max-width: $md3+px) {
        font-size: 11px;
        line-height: 17px;
        font-weight: 500;
      }
    }
  }

  &_buttons {
    display: flex;
    margin: 0 0 30px 0;
    width: 100%;

    @media (max-width: 1120px) {
      margin: 0 0 30px 0;
      justify-content: center;
    }
  }

  &_started {
    flex: 0 1 156px;
    background-color: #6C5FBC;
    border-radius: 12px;
    color: #FFFFFF;
    padding: 17px 0;
    margin: 0 15px 0 0;

    @media (max-width: $md3+px) {
      flex: 0 1 124px;
    }
  }

  &_pro {
    flex: 0 1 110px;
    border-radius: 12px;
    border: 1px solid #6C5FBC;
    padding: 17px 0;
    color: #6C5FBC;

    @media (max-width: $md3+px) {
      flex: 0 1 88px;
    }
  }

  &_reviews {
    display: flex;

    img {
      max-width: 100%;
      align-self: center;
      margin: 0 20px 0 0;

      &:last-child {
        margin: 0 0 0 0;
      }
    }

    @media (max-width: 1120px) {
      margin: 0 0 20px 0;
    }

    @media (max-width: $md3+px) {
      margin: 0 0 40px 0;

      img {
        max-width: 33%;
      }
    }
  }

  &_collage {
    max-width: 100%;
  }
}

.numbers-page {
  background-color: #6C5FBC;

  &_container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 220px;
  }

  &_block {
    display: flex;

    @media (max-width: 1120px) {
      flex-wrap: wrap;
      justify-content: space-around;
    }

    @media (max-width: $md3+px) {
      flex-direction: column;
    }
  }

  &_column {
    flex: 0 1 33.333%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-right: 1px solid rgba(197, 197, 197, 0.2);
    padding: 30px 90px;

    &:last-child {
      border: 0;
    }

    @media (max-width: 1120px) {
      border: 0;
      flex: 0 1 50%;
    }

    @media (max-width: $md3+px) {
      border-bottom: 1px solid rgba(197, 197, 197, 0.2);
      padding: 70px 40px;
      max-width: 246px;

      &:last-child {
        border: 0;
      }
    }

    p {
      white-space: nowrap;
      color: #CBD5E1;
      font-size: 14px;
      line-height: 21px;
      font-weight: 500;
    }
  }

  &_header {
    white-space: nowrap;
    color: #FFFFFF;
    font-size: 43px;
    font-weight: 700;
    line-height: 54px;
  }
}

.mobile-phone {

  &_container {

  }

  &_sub-container {
    padding: 0 0 100px 0;
    display: flex;
    border-bottom: 1px solid #CBCBCB;

    @media (max-width: $md2+px) {
      flex-direction: column-reverse;
    }
  }

  &_column {
    flex: 0 1 50%;

    &:first-child {
      padding: 0 0 0 22px;
    }

    @media (max-width: $md2+px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &_mobile {
    max-width: 100%;

    @media (max-width: $md3+px) {
      max-width: 70%;
    }
  }

  &_title {
  }

  &_list {
    margin: 0 0 60px 0;
    padding: 0 0 0 22px;

    li {
      list-style-type: disc;
      font-weight: 400;
      font-size: 21px;
      line-height: 31px;
      margin: 0 0 25px 0;

      @media (max-width: $md3+px) {
        font-size: 12px;
        line-height: 18px;
      }
    }
  }

  &_button {
    width: 186px;
    color: #FFFFFF;
    background-color: #6C5FBC;
    position: relative;

    span {
      font-size: 18px;
      line-height: 22px;
      font-weight: 500;
      padding: 20px 40px 20px 20px;
      background: url("../images/main/arrow-button.png") right no-repeat;
    }

    &::before {
      content: "";
      position: absolute;
      display: inline-block;
      width: 154px;
      height: 87px;
      left: 90%;
      top: 42px;
      transform: rotate(-4deg);
      background: url("../images/main/pattern.png") 0 0 no-repeat;
    }

    @media (max-width: $md2+px) {
      margin: 0 0 150px 0;

      &::before {
        left: -70%;
        top: 100%;
        transform: rotate(112deg);
      }
    }

    @media (max-width: $md3+px) {
      width: 170px;

      span {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
}

.restaurants-page {

  &_container {
  }

  &_sub-container {
    padding: 0 0 100px 0;
    border-bottom: 1px solid #CBCBCB;
  }

  &_header {

  }

  &_pictures {
    margin: 0 0 20px 0;
  }

  &_items {
    margin: 0 -18px;
    display: flex;

    @media (max-width: $md1+px) {
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }

  &_item {
    padding: 0 17px;
    margin: 0 0 40px 0;

    @media (max-width: $md1+px) {
      display: flex;
      justify-content: center;
    }

    @media (max-width: $md4+px) {
      padding: 0 0;
    }
  }

  &_image {
    flex: 0 1 176px;
  }

  &_block {
    width: 394px;

    @media (max-width: $md4+px) {
      width: 280px;
    }
  }

  &_inscriptions {
    padding: 0 35px;

    @media (max-width: $md4+px) {
      padding: 0 15px;
    }
  }
}

.view-page {
  text-align: right;
  margin: 0 50px 0 0;
  position: relative;
  padding: 0 30px 0 0;

  a {
    cursor: pointer;
    font-size: 20px;
    line-height: 45px;
    font-weight: 500;
    font-family: Poppins, sans-serif;
    color: #ACADB9;
    transition: all 0.3s ease 0s;

    @media (min-width: $md2+px) {
      &:hover {
        color: #6C5FBC;
      }
    }
  }

  &::before {
    position: absolute;
    top: 45%;
    right: 0;
    content: "";
    display: inline-block;
    width: 20px;
    height: 3px;
    background: url("../images/main/restaurants/arrow-02.png") 0 0 no-repeat;
  }

  &::after {
    position: absolute;
    top: 27%;
    right: -3px;
    content: "";
    display: inline-block;
    width: 12px;
    height: 20px;
    background: url("../images/main/restaurants/arrow-01.png") 0 0 no-repeat;
  }

  @media (max-width: $md4+px) {
    margin: 0 0 0 0;
  }
}

.product-item {

  @media (max-width: $md4+px) {
    padding: 0 0;
  }

  &_content {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 20px 0 #00000040;
    padding: 0 0 15px 0;
    border-radius: 35px;
  }

  &_image {
    position: relative;
    margin: 0 0 15px 0;

    @media (max-width: $md4+px) {
      flex: 0 1 120px;
    }

    img {
      position: absolute;
      max-width: 100%;
    }

    &_size {
      flex: 0 1 230px;
    }
  }

  &_inscriptions {
    display: flex;
    flex-direction: column;
  }

  &_status {
    display: flex;
    text-align: center;

    span {
      flex: 0 1 66px;
      border-radius: 5px;
      color: #DAA31A;
      font-size: 13px;
      font-weight: 400;
      line-height: 19px;
      font-family: Poppins, sans-serif;
      background-color: rgba(243, 175, 4, 0.2);
      padding: 3px 0;
    }

    &_red {

      span {
        flex: 0 1 70px;
        color: #FB471D;
        background-color: rgba(246, 55, 7, 0.2);
      }
    }

    &_green {

      span {
        color: #309D5B;
        background-color: rgba(13, 234, 101, 0.2);
      }
    }

    @media (max-width: $md4+px) {
      span {
        font-size: 10px;
        line-height: 15px;
      }
    }
  }

  &_title {
    color: #323142;
    font-family: Poppins, sans-serif;
    font-size: 185%;
    line-height: 42px;
    font-weight: 600;

    @media (max-width: $md4+px) {
      font-size: 20px;
      line-height: 33px;
    }
  }

  &_info {
    display: flex;
    justify-content: space-between;
  }

  &_grades {
    display: flex;
    justify-content: space-between;
    flex: 0 1 150px;
    align-items: center;
  }

  &_time {
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    color: #8E97A6;

    @media (max-width: $md4+px) {
      font-size: 15px;
      line-height: 21px;
    }
  }

  &_grade {
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    color: #8E97A6;
    background: url("../images/main/restaurants/star.png") left no-repeat;
    padding: 0 0 0 30px;

    @media (max-width: $md4+px) {
      font-size: 15px;
      line-height: 21px;
      background: url("../images/main/restaurants/star.png") left /21px no-repeat;
      padding: 0 0 0 22px;
    }
  }

  &_label {
    background: #DBD9EE url("../images/main/restaurants/label.png") center no-repeat;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin: 0 4px 0 0;

    @media (max-width: $md4+px) {
      width: 32px;
      height: 32px;
      background: #DBD9EE url("../images/main/restaurants/label.png") center /12px no-repeat;
    }
  }

  &_buy {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      max-width: 44px;
      max-height: 39px;
      cursor: pointer;
    }
  }

  &_price {
    font-weight: 700;
    font-size: 26px;
    line-height: 41px;
    color: #323142;
    align-self: flex-end;

    span {
      color: #8E97A6;
      font-size: 19px;
    }
  }
}

.dishes-page {

  &_sub-container {
    padding: 0 0 100px 0;
    border-bottom: 1px solid #CBCBCB;
  }

  &_items {
    display: flex;
    margin: 0 -15px;

    @media (max-width: $md1+px) {
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }

  &_item {
    padding: 0 15px;
    margin: 0 0 40px 0;

    @media (max-width: $md4+px) {
      padding: 0 0;
    }
  }

  &_block {
    width: 225px;
    position: relative;

    &::before {
      position: absolute;
      cursor: pointer;
      top: 5%;
      right: 5%;
      content: "";
      width: 22px;
      height: 18px;
      background: url("../images/main/dishes/heart.png") center no-repeat;
    }
  }

  &_content {
    padding: 15px 0 15px 0;
  }

  &_image {
    display: flex;
    justify-content: center;
    flex: 0 1 210px;
    margin: 0 0 0 0;

    img {
    }
  }

  &_title {
    font-size: 23px;
    line-height: 37px;
    font-weight: 600;
    font-family: Poppins, sans-serif;
    color: #323142;
    margin: 0 0 10px 0;
  }

  &_info {
    flex-direction: column;
  }

  &_grades {
    display: flex;
    flex: 0 1 25px;
    margin: 0 0 10px 0;
    max-width: 150px;
  }

  &_inscriptions {
    padding: 0 15px;
  }

  &_time {
    font-size: 17px;
    line-height: 23px;
    font-weight: 400;
    color: #8E97A6;
    margin: 0 10px 0 0;
  }

  &_grade {
    font-size: 17px;
    line-height: 23px;
    font-weight: 400;
    color: #8E97A6;
    background: url("../images/main/restaurants/star.png") left -4px no-repeat;
    padding: 0 0 0 30px;

    @media (max-width: $md4+px) {
      font-size: 15px;
      line-height: 21px;
      background: url("../images/main/restaurants/star.png") left /21px no-repeat;
      padding: 0 0 0 22px;
    }
  }
}

.control-page {

  &_container {
    display: flex;
  }

  &_column {
    flex: 0 1 50%;
  }

  &_title {
  }

  &_menu {
    display: flex;
    flex-direction: column;
  }

  &_item {
    display: flex;
    margin: 0 0 20px 0;
  }

  &_product {
    display: flex;
    padding: 5px 15px 0 15px;
    align-items: center;
    box-shadow: 0 4px 20px 0 #00000040;
    flex: 0 0 345px;
    border-radius: 15px;
  }

  &_image {
    flex: 0 0 80px;
    margin: 0 20px 0 0;

    img {
      max-width: 100%;
    }
  }

  &_content {
    flex: 1 1 auto;
  }

  &_sub-title {
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    color: #000000;
  }

  &_sub-content {
    font-family: Poppins, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;

    &_red {
      color: #F1534E;
    }
  }

  &_time {
    flex: 0 0 60px;
    display: flex;
    align-self: flex-end;
    padding: 0 0 10px 0;

    span {
      font-family: Poppins, sans-serif;
      font-size: 13.04px;
      font-weight: 500;
      line-height: 18.26px;
    }
  }
}
