@import "var";
@import "fonts";
@import "menu";
@import "header";
@import "footer";
@import "pricing";
@import "blog";
@import "contacts";

//Общие стили>=====================================================================================
ul {
  list-style-type: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  font-size: 14px;
}

a.text {
  text-decoration: none;
}

input, textarea {
  outline: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding: 0 20px;
}

._title-banners {
  color: #323142;
  font-size: 45px;
  line-height: 55px;
  font-weight: 600;
  font-family: Poppins, sans-serif;
  text-align: center;
  margin: 0 0 60px 0;

  span {
    font-size: 45px;
    line-height: 26px;
    font-weight: 600;
    font-family: Poppins, sans-serif;
    color: #6C5FBC;
  }

  @media (max-width: $md4+px) {
    font-size: 30px;
    line-height: 36px;
    margin: 0 0 30px 0;

    span {
      font-size: 30px;
      line-height: 36px;
    }
  }
}

._title-left-banners {
  color: #323142;
  font-family: Poppins, sans-serif;
  font-size: 35px;
  font-weight: 600;
  line-height: 26px;

  span {
    font-family: Poppins, sans-serif;
    font-size: 35px;
    font-weight: 600;
    line-height: 26px;
    color: #6C5FBC;
  }

  @media (max-width: $md2+px) {
    text-align: center;
    margin: 0 0 60px 0;
  }

  @media (max-width: $md4+px) {
    font-size: 30px;
    line-height: 36px;

    span {
      font-size: 30px;
      line-height: 36px;
    }
  }
}

._title-main {
  color: #000000;
  max-width: 500px;
  text-align: left;
  font-size: 51px;
  line-height: 58px;
  font-weight: 700;
  font-family: Poppins, sans-serif;
  margin: 0 0 50px 0;

  span {
    color: #6C5FBC;
    white-space: nowrap;
    font-size: 51px;
    line-height: 58px;
    font-weight: 700;
    font-family: Poppins, sans-serif;
  }

  @media (max-width: 1100px) {
    font-size: 36px;
    line-height: 42px;

    span {
      font-size: 36px;
      line-height: 42px;
    }
  }

  @media (max-width: $md2+px) {
    text-align: center;
  }

  @media (max-width: $md3+px) {
    font-size: 30px;
    line-height: 34px;
    margin: 0 0 30px 0;

    span {
      font-size: 30px;
      line-height: 34px;
    }
  }
}

.btn-white {
  font-family: Poppins, sans-serif;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  white-space: nowrap;
  transition: all 0.3s ease 0s;
  border-radius: 15px;

  @media (min-width: $md2+px) {
    &:hover {
      box-shadow: 0 4px 20px 0 #00000040;
    }
  }
}

.btn-blue {
  background-color: #6C5FBC;
  font-family: Poppins, sans-serif;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  white-space: nowrap;
  transition: all 0.3s ease 0s;
  border-radius: 15px;
  color: #FFFFFF;

  @media (min-width: $md2+px) {
    &:hover {
      background-color: #4839b9;
    }
  }
}

.btn-submit {
  cursor: pointer;
  background-color: #6C5FBC;
  color: #FFF3EB;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  border-radius: 15px;

  @media (min-width: $md2+px) {
    &:hover {
      background-color: #4839b9;
    }
  }
}

//======================================================================================

html, body {
  font-family: Inter, sans-serif;
  color: #606060;
}

.header {
  margin: 0 0 100px 0;

  @media (max-width: $md2+px) {
    margin: 0 0 50px 0;
  }
}

.page {
  &_grade {
    margin: 0 0 100px 0;

    @media (max-width: $md2+px) {
      margin: 0 0 50px 0;
    }
  }

  &_numbers {
    margin: 0 0 100px 0;

    @media (max-width: $md2+px) {
      margin: 0 0 50px 0;
    }
  }

  &_mobile {
    margin: 0 0 100px 0;

    @media (max-width: $md2+px) {
      margin: 0 0 50px 0;
    }
  }

  &_restaurants {
    margin: 0 0 100px 0;

    @media (max-width: $md2+px) {
      margin: 0 0 50px 0;
    }
  }

  &_dishes {
    margin: 0 0 100px 0;

    @media (max-width: $md2+px) {
      margin: 0 0 50px 0;
    }
  }

  &_control {
    margin: 0 0 100px 0;

    @media (max-width: $md2+px) {
      margin: 0 0 50px 0;
    }
  }

  &_customer {
    margin: 0 0 200px 0;

    @media (max-width: $md2+px) {
      margin: 0 0 150px 0;
    }
  }

  &_get-sale {
    margin: 0 0 150px 0;

    @media (max-width: $md2+px) {
      margin: 0 0 250px 0;
    }

    @media (max-width: $md4+px) {
      margin: 0 0 200px 0;
    }
  }

  &_filter {
    margin: 0 0 150px 0;

    @media (max-width: $md2+px) {
      margin: 0 0 100px 0;
    }
  }

  &_questions {
    margin: 0 0 150px 0;

    @media (max-width: $md2+px) {
      margin: 0 0 100px 0;
    }
  }

  &_our-pricing {
    margin: 0 0 615px 0;

    @media (max-width: $md2+px) {
      margin: 0 0 450px 0;
    }

    @media (max-width: $md3+px) {
      margin: 0 0 350px 0;
    }

    @media (max-width: 400px) {
      margin: 0 0 280px 0;
    }
  }

  &_tariff {
    margin: 0 0 150px 0;

    @media (max-width: $md2+px) {
      margin: 0 0 100px 0;
    }
  }

  &_order-food {
    margin: 0 0 150px 0;

    @media (max-width: $md2+px) {
      margin: 0 0 100px 0;
    }
  }

  &_contacts {
    margin: 0 0 150px 0;

    @media (max-width: $md2+px) {
      margin: 0 0 100px 0;
    }
  }
}

.grade-page {

  &_container {
    display: flex;

    @media (max-width: 1120px) {
      flex-direction: column;
    }
  }

  &_column {
    flex: 0 1 50%;

    &:last-child {
      display: flex;
      justify-content: center;
    }
  }

  &_info {
    display: flex;
    flex-direction: column;

    @media (max-width: 1120px) {
      align-items: center;
    }
  }

  &_header {
    display: flex;
    margin: 0 0 10px 0;

    @media (max-width: 1120px) {
      margin: 0 0 20px 0;
    }

    hr {
      align-self: center;
      width: 55px;
      height: 2px;
      border-bottom: 1px solid rgba(32, 31, 31, 0.2);
      margin: 0 20px 0 0;

      @media (max-width: $md3+px) {
        border-bottom: 1px solid rgba(32, 31, 31);
        margin: 0 10px 0 0;
        width: 30px;
      }
    }

    span {
      font-size: 15px;
      font-weight: 600;
      font-family: Poppins, sans-serif;
      line-height: 18px;
      color: rgba(32, 31, 31, 0.2);
      letter-spacing: 2px;

      @media (max-width: $md3+px) {
        font-size: 10px;
        color: #201F1F;
        font-weight: 600;
        line-height: 11px;
      }
    }
  }

  &_title {
    font-family: Poppins, sans-serif;
    font-size: 75px;
    font-weight: 600;
    line-height: 90px;
    letter-spacing: -3px;
    color: #201F1F;
    margin: 0 0 10px 0;

    span {
      color: #5C4EAE;
      font-family: Poppins, sans-serif;
      font-size: 75px;
      font-weight: 600;
      line-height: 90px;
      letter-spacing: -3px;
    }

    @media (max-width: 1120px) {
      text-align: center;
      margin: 0 0 20px 0;
    }

    @media (max-width: $md3+px) {
      font-size: 46px;
      line-height: 55px;

      span {
        font-size: 46px;
        line-height: 55px;
      }
    }

    @media (max-width: $md4+px) {
      br {
        display: none;
      }
    }
  }

  &_content {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #676767;
    margin: 0 0 40px 0;
    max-width: 499px;

    @media (max-width: 1120px) {
      text-align: center;
      margin: 0 0 40px 0;
    }

    @media (max-width: $md3+px) {
      font-size: 11px;
      line-height: 17px;
      font-weight: 500;
    }

    span {
      font-size: 18px;
      font-weight: 500;
      line-height: 28px;
      color: #5C4EAE;

      @media (max-width: $md3+px) {
        font-size: 11px;
        line-height: 17px;
        font-weight: 500;
      }
    }
  }

  &_buttons {
    display: flex;
    margin: 0 0 30px 0;
    width: 100%;

    @media (max-width: 1120px) {
      margin: 0 0 30px 0;
      justify-content: center;
    }
  }

  &_started {
    flex: 0 1 156px;
    border-radius: 12px;
    color: #FFFFFF;
    padding: 17px 0;
    margin: 0 15px 0 0;

    @media (max-width: $md3+px) {
      flex: 0 1 124px;
    }
  }

  &_pro {
    flex: 0 1 110px;
    border-radius: 12px;
    border: 1px solid #6C5FBC;
    padding: 17px 0;
    color: #6C5FBC;

    @media (max-width: $md3+px) {
      flex: 0 1 88px;
    }
  }

  &_reviews {
    display: flex;
    gap: 20px;
    align-items: center;

    img {
      max-width: 100%;

      &:last-child {
        margin: 0 0 0 0;
      }
    }

    @media (max-width: 1120px) {
      margin: 0 0 20px 0;
    }

    @media (max-width: $md3+px) {
      margin: 0 0 40px 0;

      img {
        max-width: 33%;
      }
    }
  }

  &_collage {
    max-width: 100%;
  }
}

.numbers-page {
  background-color: #6C5FBC;

  &_container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 220px;
  }

  &_block {
    display: flex;

    @media (max-width: 1120px) {
      flex-wrap: wrap;
      justify-content: space-around;
    }

    @media (max-width: $md3+px) {
      flex-direction: column;
    }
  }

  &_column {
    flex: 0 1 33.333%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-right: 1px solid rgba(197, 197, 197, 0.2);
    padding: 30px 90px;

    &:last-child {
      border: 0;
    }

    @media (max-width: 1120px) {
      border: 0;
      flex: 0 1 50%;
    }

    @media (max-width: $md3+px) {
      border-bottom: 1px solid rgba(197, 197, 197, 0.2);
      padding: 70px 40px;
      max-width: 246px;

      &:last-child {
        border: 0;
      }
    }

    p {
      white-space: nowrap;
      color: #CBD5E1;
      font-size: 14px;
      line-height: 21px;
      font-weight: 500;
    }
  }

  &_header {
    white-space: nowrap;
    color: #FFFFFF;
    font-size: 43px;
    font-weight: 700;
    line-height: 54px;
  }
}

.mobile-phone {

  &_container {

  }

  &_sub-container {
    padding: 0 0 100px 0;
    display: flex;
    border-bottom: 1px solid #CBCBCB;

    @media (max-width: $md2+px) {
      flex-direction: column-reverse;
    }
  }

  &_column {
    flex: 0 1 50%;

    &:first-child {
      padding: 0 0 0 22px;
    }

    @media (max-width: $md2+px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &_mobile {
    max-width: 100%;

    @media (max-width: $md3+px) {
      max-width: 70%;
    }
  }

  &_title {
  }

  &_list {
    margin: 0 0 60px 0;
    padding: 0 0 0 22px;

    li {
      list-style-type: disc;
      font-weight: 400;
      font-size: 21px;
      line-height: 31px;
      margin: 0 0 25px 0;

      @media (max-width: $md3+px) {
        font-size: 12px;
        line-height: 18px;
      }
    }
  }

  &_button {
    width: 186px;
    position: relative;

    span {
      font-size: 18px;
      line-height: 22px;
      font-weight: 500;
      padding: 20px 40px 20px 20px;
      background: url("../images/main/arrow-button.png") right no-repeat;
    }

    &::before {
      content: "";
      position: absolute;
      display: inline-block;
      width: 154px;
      height: 87px;
      left: 90%;
      top: 42px;
      transform: rotate(-4deg);
      background: url("../images/main/pattern.png") 0 0 no-repeat;
    }

    @media (max-width: $md2+px) {
      margin: 0 0 150px 0;

      &::before {
        left: -70%;
        top: 100%;
        transform: rotate(112deg);
      }
    }

    @media (max-width: $md3+px) {
      width: 170px;

      span {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
}

.restaurants-page {

  &_container {
  }

  &_sub-container {
    padding: 0 0 100px 0;
    border-bottom: 1px solid #CBCBCB;

    @media (max-width: $md2+px) {
      display: grid;
    }
  }

  &_header {

  }

  &_header-block {
    display: flex;
    justify-content: space-between;
    margin: 0 0 60px 0;

    @media (max-width: $md2+px) {
      display: contents;
    }

    @media (max-width: $md3+px) {
      margin: 0 0 30px 0;
    }
  }

  &_pictures {
    margin: 0 0 20px 0;
  }

  &_image {
    flex: 0 1 176px;
  }

  &_block {
    width: 394px;

    @media (max-width: 520px) {
      margin: 0 auto;
    }

    @media (max-width: $md4+px) {
      width: 280px;
    }
  }

  &_inscriptions {
    padding: 0 35px;

    @media (max-width: $md4+px) {
      padding: 0 15px;
    }
  }

  &_view {
    order: 10;
  }
}

.view-page {
  text-align: right;
  margin: 0 50px 0 0;
  position: relative;
  padding: 0 30px 0 0;

  a {
    cursor: pointer;
    font-size: 20px;
    line-height: 45px;
    font-weight: 500;
    font-family: Poppins, sans-serif;
    color: #ACADB9;
    transition: all 0.3s ease 0s;

    @media (min-width: $md2+px) {
      &:hover {
        color: #6C5FBC;
      }
    }
  }

  &::before {
    position: absolute;
    top: 45%;
    right: 0;
    content: "";
    display: inline-block;
    width: 20px;
    height: 3px;
    background: url("../images/main/restaurants/arrow-02.png") 0 0 no-repeat;
  }

  &::after {
    position: absolute;
    top: 27%;
    right: -3px;
    content: "";
    display: inline-block;
    width: 12px;
    height: 20px;
    background: url("../images/main/restaurants/arrow-01.png") 0 0 no-repeat;
  }

  @media (max-width: $md4+px) {
    margin: 0 0 0 0;
  }
}

.product-item {
  &_items {
    display: flex;
    margin: 0 -15px;
    justify-content: space-between;

    @media (max-width: $md1+px) {
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }

  &_item {
    padding: 0 15px;
    margin: 0 0 40px 0;

    @media (max-width: 520px) {
      flex: 0 1 100%;
    }
  }

  &_content {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 20px 0 #00000040;
    padding: 0 0 15px 0;
    border-radius: 35px;
  }

  &_image {
    margin: 0 0 15px 0;

    @media (max-width: $md4+px) {
      flex: 0 1 120px;
    }

    img {
      max-width: 100%;
    }

    &_size {
      flex: 0 1 230px;
    }
  }

  &_inscriptions {
    display: flex;
    flex-direction: column;
  }

  &_status {
    display: flex;
    text-align: center;

    span {
      flex: 0 1 66px;
      border-radius: 5px;
      color: #DAA31A;
      font-size: 13px;
      font-weight: 400;
      line-height: 19px;
      font-family: Poppins, sans-serif;
      background-color: rgba(243, 175, 4, 0.2);
      padding: 3px 0;
    }

    &_red {

      span {
        flex: 0 1 70px;
        color: #FB471D;
        background-color: rgba(246, 55, 7, 0.2);
      }
    }

    &_green {

      span {
        color: #309D5B;
        background-color: rgba(13, 234, 101, 0.2);
      }
    }

    @media (max-width: $md4+px) {
      span {
        font-size: 10px;
        line-height: 15px;
      }
    }
  }

  &_title {
    color: #323142;
    font-family: Poppins, sans-serif;
    font-size: 185%;
    line-height: 42px;
    font-weight: 600;

    @media (max-width: $md4+px) {
      font-size: 20px;
      line-height: 33px;
    }

    span {
      color: #323142;
      font-family: Poppins, sans-serif;
      font-size: 23px;
      font-weight: 600;
      line-height: 37px;

      @media (max-width: $md4+px) {
        font-size: 15px;
        line-height: 24px;
      }
    }
  }

  &_info {
    display: flex;
    justify-content: space-between;
  }

  &_grades {
    display: flex;
    justify-content: space-between;
    flex: 0 1 150px;
    align-items: center;
  }

  &_time {
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    color: #8E97A6;

    span {
      font-size: 17px;
      line-height: 23px;
      font-weight: 400;
      color: #8E97A6;
    }

    @media (max-width: $md4+px) {
      &, span {
        font-size: 15px;
        line-height: 21px;
      }
    }
  }

  &_grade {
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    color: #8E97A6;
    background: url("../images/main/restaurants/star.png") left no-repeat;
    padding: 0 0 0 30px;

    span {
      font-size: 17px;
      line-height: 23px;
      font-weight: 400;
      color: #8E97A6;
    }

    @media (max-width: $md4+px) {
      & {
        font-size: 15px;
        line-height: 21px;
        background: url("../images/main/restaurants/star.png") left /21px no-repeat;
        padding: 0 0 0 22px;

        span {
          font-size: 15px;
          line-height: 21px;
        }
      }
    }
  }

  &_label {
    background: #DBD9EE url("../images/main/restaurants/label.png") center no-repeat;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin: 0 4px 0 0;

    @media (max-width: $md4+px) {
      width: 32px;
      height: 32px;
      background: #DBD9EE url("../images/main/restaurants/label.png") center /12px no-repeat;
    }
  }

  &_buy {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      max-width: 44px;
      max-height: 39px;
      cursor: pointer;
    }
  }

  &_price {
    font-weight: 700;
    font-size: 26px;
    line-height: 41px;
    color: #323142;
    align-self: flex-end;

    span {
      color: #8E97A6;
      font-size: 19px;
    }
  }
}

.dishes-page {

  &_sub-container {
    padding: 0 0 100px 0;
    border-bottom: 1px solid #CBCBCB;

    @media (max-width: $md2+px) {
      display: grid;
    }
  }

  &_header-block {
    display: flex;
    justify-content: space-between;
    margin: 0 0 60px 0;

    @media (max-width: $md2+px) {
      display: contents;
    }

    @media (max-width: $md3+px) {
      margin: 0 0 30px 0;
    }
  }

  &_block {
    width: 225px;
    position: relative;

    &::before {
      position: absolute;
      cursor: pointer;
      top: 5%;
      right: 5%;
      content: "";
      width: 22px;
      height: 18px;
      background: url("../images/main/dishes/heart.png") center no-repeat;
    }

    @media (max-width: 520px) {
      width: 100%;
    }
  }

  &_content {
    padding: 15px 0 15px 0;
  }

  &_image {
    display: flex;
    justify-content: center;
    flex: 0 1 210px;
    margin: 0 0 0 0;

    img {
    }
  }

  &_info {
    flex-direction: column;
  }

  &_grades {
    display: flex;
    flex: 0 1 25px;
    margin: 0 0 10px 0;
    max-width: 150px;
  }

  &_inscriptions {
    padding: 0 15px;
  }

  &_view {
    order: 10;
  }
}

.control-page {

  &_container {
    display: flex;

    @media (max-width: $md2+px) {
      flex-wrap: wrap;
    }
  }

  &_column {
    flex: 0 1 50%;

    @media (max-width: $md2+px) {
      flex: 0 1 100%;

      &:first-child {
        display: flex;
        flex-direction: column;
      }
    }

    @media (max-width: $md3+px) {
      &:first-child {
        align-items: center;
      }
    }
  }

  &_title {
    padding: 0 15px 0 0;

    @media (max-width: $md2+px) {
      align-self: center;
      padding: 0 0 0 0;
    }
  }

  &_menu {
    display: flex;
    flex-direction: column;

    @media (max-width: $md2+px) {
      margin: 0 0 100px 0;
    }
  }

  &_item {
    display: flex;
    margin: 0 0 20px 0;

    @media (max-width: $md3+px) {
      display: flex;
    }

    @media (max-width: $md2+px) {
      &:last-child > .control-page_product::before {
        content: "";
        position: absolute;
        display: inline-block;
        width: 56px;
        height: 112px;
        left: 105%;
        top: 40%;
        transform: rotate(0deg);
        background: url("../images/main/control/pattern.png") 0 0 no-repeat;
      }
    }
  }

  &_product {
    display: flex;
    padding: 5px 15px 0 15px;
    align-items: center;
    box-shadow: 0 4px 20px 0 #00000040;
    flex: 0 0 345px;
    border-radius: 15px;
    position: relative;

    @media (max-width: $md4+px) {
      flex: 0 0 228px;
      padding: 5px 5px 5px 5px;
    }
  }

  &_image {
    flex: 0 0 80px;
    margin: 0 20px 0 0;

    img {
      max-width: 100%;
    }

    @media (max-width: $md4+px) {
      flex: 0 0 50px;
      margin: 0 10px 0 0;
    }
  }

  &_content {
    flex: 1 1 auto;
  }

  &_sub-title {
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    color: #000000;

    @media (max-width: $md4+px) {
      font-size: 13px;
      line-height: 17px;
    }
  }

  &_sub-content {
    font-family: Poppins, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;

    &_red {
      color: #F1534E;
    }

    @media (max-width: $md4+px) {
      font-size: 10px;
      line-height: 11px;
    }
  }

  &_time {
    flex: 0 0 60px;
    display: flex;
    align-self: flex-end;
    padding: 0 0 10px 0;

    span {
      font-family: Poppins, sans-serif;
      font-size: 13.04px;
      font-weight: 500;
      line-height: 18.26px;
    }

    @media (max-width: $md4+px) {
      span {
        font-size: 10px;
        line-height: 12px;
      }
    }
  }

  &_calculations {
  }
}

.calculations-control {
  padding: 40px 30px;
  border-radius: 25px;
  border: 1.5px solid #EDF2F7;
  box-shadow: 0 4px 20px 0 #00000040;

  @media (max-width: $md4+px) {
    padding: 20px 15px;
  }

  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 30px 0;
  }

  &_title {
    color: #000000;
    font-size: 28px;
    font-weight: 800;
    line-height: 38px;
    letter-spacing: 0.3px;

    @media (max-width: $md3+px) {
      font-size: 17px;
      line-height: 22px;
    }
  }

  &_period {
    padding: 10px 15px;
    background-color: #FAFAFA;
    border-radius: 15px;
    cursor: pointer;

    span {
      color: #1A202C;
      font-size: 18px;
      font-weight: 600;
      line-height: 28px;
      letter-spacing: 0.6px;
      padding: 0 30px 0 0;
      transition: all 0.3s ease 0s;
      background: url("../images/main/control/arrow.png") right no-repeat;

      @media (max-width: $md3+px) {
        font-size: 12px;
        line-height: 17px;
        padding: 0 20px 0 0;
        background: url("../images/main/control/arrow.png") right /12px no-repeat;
      }
    }
  }

  &_body {
    display: flex;
    flex-direction: column;
  }

  &_item {
    display: flex;
    flex-direction: column;
    border-radius: 18px;
    border: 1.5px solid #EDF2F7;
    padding: 25px 25px;
    margin: 0 0 19px 0;

    @media (max-width: $md4+px) {
      padding: 10px 10px;
    }
  }

  &_info {
    display: flex;
    align-items: center;
    margin: 0 0 20px 0;
  }

  &_image {
    flex: 0 0 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 20px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &_expense {
      background-color: #F4F0FF;
    }

    &_vocher {
      background-color: #F2FDF6;
    }

    @media (max-width: $md3+px) {
      flex: 0 0 30px;
      height: 30px;

      img {
        max-width: 60%;
      }
    }

    @media (max-width: $md4+px) {
      margin: 0 10px 0 0;
    }
  }

  &_text {
    flex: 1 1 auto;

    p {
      color: #000000;
      font-size: 18px;
      font-weight: 800;
      line-height: 28px;
      letter-spacing: 0.6px;

      span {
        color: #A0AEC0;
        font-size: 15.71px;
        font-weight: 500;
        line-height: 23.56px;
        letter-spacing: 0.6282353401184082px;
        text-align: left;
      }

      @media (max-width: $md3+px) {
        font-size: 12px;
        line-height: 17px;

        span {
          font-size: 10px;
          line-height: 14px;
        }
      }
    }
  }

  &_price {
    color: #1A202C;
    font-size: 21px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0.3px;

    @media (max-width: $md3+px) {
      font-size: 13px;
      line-height: 20px;
    }
  }

  &_scroll {
    width: 100%;
    height: 10px;
    border-radius: 75px;
    position: relative;

    &_expense {
      background-color: #F4F0FF;

      &::before {
        width: 70%;
        background-color: #6C5FBC;
      }
    }

    &_vocher {
      background-color: rgba(251, 173, 24, 0.2);

      &::before {
        width: 60%;
        background-color: #FBAD18;
      }
    }

    &::before {
      content: "";
      position: absolute;
      height: 100%;
      border-radius: 75px;
      top: 0;
      left: 0;
    }

    @media (max-width: $md3+px) {
      height: 6px;
    }
  }
}

.customer-page {

  &_container {
    display: flex;
    flex-direction: column;
  }

  &_body {
    position: relative;
  }

  &_scroll {
    z-index: 2;
    top: 97%;
    left: 50%;
    content: "";
    position: absolute;
    width: 50%;
    height: 9px;
    background-color: #F4F0FF;
    border-radius: 78px;

    & > .swiper-scrollbar-drag {
      border-radius: 78px;
      width: 20%;
      height: 9px;
      background-color: #6C5FBC;
    }

    @media (max-width: $md2+px) {
      top: 115%;
      width: 90%;
      left: 5%;
    }
  }

  &_slide {
    box-shadow: 0 4px 20px 0 #00000040;
    padding: 35px 40px;
    border-radius: 25px;

    @media (max-width: $md4+px) {
      padding: 15px 20px;

    }
  }

  &_person {
    display: flex;
    margin: 0 0 35px 0;
    align-items: center;

    @media (max-width: $md4+px) {
      margin: 0 0 15px 0;
    }
  }

  &_photo {
    margin: 0 15px 0 0;

    @media (max-width: $md4+px) {
      margin: 0 10px 0 0;
      flex: 0 1 42px;

      img {
        max-width: 100%
      }
    }
  }

  &_name {
    flex: 1 1 auto;

    p {
      font-family: Poppins, sans-serif;
      font-size: 17px;
      line-height: 26px;
      font-weight: 500;
      flex: 1 1 auto;
      color: #5E5D5D;

      span {
        font-size: 21px;
        line-height: 31px;
        color: #030314;
        font-weight: 500;
      }

      @media (max-width: $md4+px) {
        font-size: 10px;
        line-height: 16px;

        span {
          font-size: 14px;
          line-height: 18px;
        }
      }
    }
  }

  &_commas {
    flex: 0 1 59px;

    @media (max-width: $md4+px) {
      flex: 0 1 35px;

      img {
        max-width: 100%;
      }
    }
  }

  &_review {
    margin: 0 0 35px 0;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 26px;

    @media (max-width: $md4+px) {
      font-size: 11px;
      line-height: 16px;
      margin: 0 0 15px 0;
    }
  }

  &_grade {
    max-width: 82px;

    img {
      max-width: 100%;
    }
  }
}

.sale-get-page {

  &._sale-get-page-slider {
    margin: 0 0 90px 0;
    position: relative;

    @media (max-width: $md2+px) {
      margin: 0 0 230px 0;
    }

    @media (max-width: $md4+px) {
      margin: 0 0 200px 0;
    }

    @media (max-width: 400px) {
      margin: 0 0 160px 0;
    }

    @media (max-width: 350px) {
      margin: 0 0 130px 0;
    }
  }

  &_content {
    background-color: #6C5FBC;
    border-radius: 30px;
    position: relative;

    @media (max-width: $md2+px) {
      vertical-align: middle;
    }

    &._content-subscribe {
      padding: 50px 60px 70px 60px;

      @media (max-width: $md4+px) {
        padding: 50px 20px 70px 20px;
      }
    }

    &._content-weekend {
      padding: 50px 20px;

      @media (max-width: $md4+px) {
        padding: 70px 20px;
      }
    }
  }

  &_block {
    @media (max-width: $md2+px) {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &_form {
    display: flex;
    flex-direction: column;
    max-width: 440px;

    @media (max-width: $md2+px) {
      max-width: 100%;
      flex: 1 1 100%;
    }
  }

  &_header {
    font-family: Poppins, sans-serif;
    font-size: 70px;
    font-weight: 800;
    line-height: 96px;

    @media (max-width: $md2+px) {
      text-align: center;
    }

    &._header-subscribe {
      color: rgba(255, 255, 255, 0.8);

      @media (max-width: $md3+px) {
        font-size: 41px;
        line-height: 62px;
      }
    }

    &._header-weekend {
      color: #F7F8FA;

      @media (max-width: $md3+px) {
        font-size: 58px;
        line-height: 62px;
      }

      @media (max-width: $md4+px) {
        font-size: 48px;
        line-height: 52px;
      }

      @media (max-width: 400px) {
        font-size: 38px;
        line-height: 42px;
      }
    }
  }

  &_text {
    color: rgba(247, 248, 250, 0.3);
    font-family: Poppins, sans-serif;
    font-size: 87px;
    font-weight: 800;
    line-height: 64px;

    @media (max-width: $md1+px) and (min-width: $md2+px) {
      font-size: 70px;
    }

    @media (max-width: $md2+px) {
      text-align: center;
    }

    @media (max-width: $md3+px) {
      font-size: 62px;
      line-height: 62px;
    }

    @media (max-width: $md4+px) {
      font-size: 52px;
      line-height: 52px;
    }

    @media (max-width: 400px) {
      font-size: 42px;
      line-height: 42px;
    }
  }

  &_body {
    position: relative;

    & button {
      @media (max-width: $md3+px) {
        font-size: 10px;
        line-height: 15px;
        padding: 10px 15px;
      }
    }
  }

  &_input {

    input {
      padding: 20px 20px;
      border-radius: 15px;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.8);
      color: #878787;
      font-family: Poppins, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.03em;

      &::placeholder {
        color: #878787;
        font-family: Poppins, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.03em;
      }

      @media (max-width: $md3+px) {
        padding: 15px 15px;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        height: 48px;

        &::placeholder {
          font-size: 12px;
          font-weight: 400;
          line-height: 16px;
          content: "Email Address";
        }
      }
    }
  }

  &_button {
    position: absolute;
    right: 6px;
    top: 6px;
    text-transform: uppercase;
    font-size: 14.75px;
    font-weight: 500;
    line-height: 22.13px;
    letter-spacing: 0.03em;
    padding: 15px 25px;
    border-radius: 12px;
    color: rgba(255, 255, 255, 0.8);
  }

  &_image {
    position: absolute;
    bottom: -30%;
    right: 7%;

    img {
      max-width: 100%;
    }

    @media (max-width: $md1+px) {
      right: -7%;

      img {
        max-width: 70%;
      }
    }

    @media (max-width: $md2+px) {
      top: 35%;
      right: 46%;
      transform: translate(50%, 50%);

      img {
        max-width: 90%;
      }
    }

    @media (max-width: $md4+px) {
      top: 35%;
      right: 50%;

      img {
        max-width: 100%;
      }
    }
  }
}
