@import "var";

.our-pricing-page {

  &_banner {
    position: relative;
    background-color: #5C4EAE;
    height: 334px;
    padding: 40px;
    text-align: center;

    @media (max-width: $md4+px) {
      padding: 30px 40px 40px 85px;
      height: 180px;
    }
  }

  &_title {
    font-family: Poppins, sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    color: #F9F9F9;
    position: relative;
    display: inline-block;

    &::before {
      content: "";
      position: absolute;
      left: -43%;
      top: 0;
      background: url("../images/pricing/arrow-white.png") 0 0 no-repeat;
      width: 87px;
      height: 82px;
    }

    @media (max-width: $md3+px) {
      font-size: 25px;
      line-height: 28px;

      &::before {
        background: url("../images/pricing/arrow-white.png") 0 0 /50px no-repeat;
      }
    }

    @media (max-width: $md4+px) {
      font-size: 15px;
      line-height: 18px;

      &::before {
        background: url("../images/pricing/arrow-white.png") 0 0 /30px no-repeat;
      }
    }
  }

  &_image {
    display: inline-block;
    position: absolute;
    top: 20%;
    left: 7%;

    img {
      max-width: 100%;
    }

    &::before {
      content: "";
      position: absolute;
      left: 4%;
      top: 86%;
      background: url("../images/pricing/pattern-blue.png") 0 0 no-repeat;
      width: 46px;
      height: 45px;
    }

    &::after {
      content: "";
      position: absolute;
      right: 5%;
      top: 5%;
      background: url("../images/pricing/pattern-white.png") 0 0 no-repeat;
      width: 46px;
      height: 45px;
    }

    @media (max-width: $md2+px) {
      top: 30%;

      &::before {
        left: 2%;
        top: 87%;
      }

      &:after {
        top: 3%;
        right: 4%;
      }
    }

    @media (max-width: $md3+px) {
      top: 20%;
      right: -14%;

      &::before {
        left: 1%;
      }

      &:after {
        top: 1%;
        right: 2%;
      }
    }

    @media (max-width: $md4+px) {
      top: 25%;
      right: -55%;

      &::before {
        left: 1%;
        background: url("../images/pricing/pattern-blue.png") 0 0 /30px no-repeat;
      }
    }

    @media (max-width: 380px) {
      &::before {
        left: 0;
      }
    }
  }
}

.tariff-page {

  &_form {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 20px 0 #00000040;
    padding: 45px;
    border-radius: 15px;

    &._form-premium {
      display: none;

      @media (max-width: $md2+px) {
        display: flex;
      }
    }

    @media (max-width: $md2+px) {
      display: grid;
      padding: 30px 40px;
      margin: 0 0 100px 0;

      &:last-child {
        margin: 0 0 0 0;
      }
    }

    @media (max-width: $md4+px) {
      padding: 20px 25px;
    }
  }

  &_header {
    display: flex;
    border-bottom: 1px solid #CBCBCB;
    padding: 0 0 35px 0;

    @media (max-width: $md2+px) {
      display: contents;
    }
  }

  &_columns {
    display: flex;

    @media (max-width: $md2+px) {
      display: none;
      grid-template-columns: 50px 1fr;
    }

    @media (max-width: $md4+px) {
      grid-template-columns: 40px 1fr;
    }

    &._active {
      display: grid !important;
    }
  }

  &_column {
    flex: 0 1 23%;

    &:first-child {
      flex: 0 1 54%;
    }

    @media (max-width: $md2+px) {
      flex: 0 1 100%;

      &._column-premium {
        display: none;
      }
    }

    &._first-column {
      order: 2;
    }

    &._second-column {
      order: 1;
    }

    &._column-hidden {
      display: none;
    }

    &._column-contests {
      display: contents;
    }
  }

  &_title {
    color: #282828;
    font-family: Poppins, sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    margin: 0 0 25px 0;

    &._title-hidden {
      display: none;
    }

    &._title-order {
      order: 1;

      @media (max-width: $md4+px) {
        font-size: 26px;
        line-height: 31px;
      }
    }
  }

  &_description {
    color: #6E757C;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;

    &._description-hidden {
      display: none;
    }

    &._description-order {
      order: 3;
      padding: 30px 0 0 0;

      @media (max-width: $md4+px) {
        font-size: 12px;
        line-height: 17px;
      }
    }
  }

  &_price-date {
    display: flex;
    border-bottom: 1px solid #CBCBCB;
    padding: 35px 0 35px 0;

    @media (max-width: $md2+px) {
      display: contents;
    }
  }

  &_price {
    color: #272E35;
    font-family: Poppins, sans-serif;
    font-size: 64px;
    font-weight: 600;
    line-height: 72px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background: url("../images/pricing/dollar.png") 0 0 no-repeat;
      transform: translate(-83%, 33%);
      width: 16px;
      height: 32px;
    }

    span {
      color: #6E757C;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
    }

    &._price-order {
      order: 2;
      padding: 0 0 30px 0;
      border-bottom: 1px solid #CBCBCB;

      @media (max-width: $md4+px) {
        font-size: 45px;
        font-weight: 600;
        line-height: 51px;

        span {
          font-size: 12px;
          line-height: 17px;
        }

        &::before {
          background: url("../images/pricing/dollar.png") 0 0 /10px no-repeat;
        }
      }
    }
  }

  &_body {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #CBCBCB;
    padding: 35px 0 35px 0;

    @media (max-width: $md2+px) {
      border: 0;
      padding: 35px 0 0 0;
    }

    &._body-order {
      order: 5;
    }
  }

  &_features {
    margin: 0 0 35px 0;

    span {
      color: #272E35;
      font-family: Poppins, sans-serif;
      font-size: 24px;
      font-weight: 600;
      line-height: 32px;
      position: relative;

      &::before {
        content: "";
        display: none;
        position: absolute;
        background: url("../images/pricing/arrow-slider.png") 0 0 no-repeat;
        height: 10px;
        width: 15px;
        top: 40%;
        right: -20%;
        transition: all 0.3s ease 0s;
      }

      @media (max-width: $md2+px) {
        &:before {
          display: inline-block;
        }
      }

      @media (max-width: $md4+px) {
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
      }
    }

    &._active {
      span {
        &::before {
          transform: rotate(-180deg);
        }
      }
    }

    @media (max-width: $md2+px) {
      cursor: pointer;
    }
  }

  &_item {
    color: #606060;
    font-family: Poppins, sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
    margin: 0 0 30px 0;

    &:last-child {
      margin: 0 0 0 0;
    }

    &._item-hidden {
      display: none;
    }

    &._item-margin {
      margin: 0 0 25px 0;

      @media (max-width: $md2+px) {
        margin: 0 0 27px 0;
      }

      @media (max-width: $md4+px) {
        margin: 0 0 21px 0;
      }
    }

    @media (max-width: $md4+px) {
      font-size: 18px;
      line-height: 17px;
    }
  }

  &_include {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: #6C5FBC url("../images/pricing/mark.png") center no-repeat;

    @media (max-width: $md4+px) {
      height: 25px;
      width: 25px;
      background: #6C5FBC url("../images/pricing/mark.png") center /15px no-repeat;
    }
  }

  &_not-include {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: #EB3F5E url("../images/pricing/cross.png") center no-repeat;
  }

  &_footer {
    display: flex;
    padding: 35px 0 0 0;

    &._footer-order {
      order: 4;
    }
  }

  &_btn {
    padding: 15px 20px;
    text-transform: uppercase;
  }
}